@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --blanco: #ffffff;
    --corporativo: #632599;
    --corporativo2: #401664;
    --grisClaroFondo:#F1F1F1;
    --grisClaro:#dbdbdb;
    --gris:#969696;
    --negro:#000;
    --verde: #87fd7c;
    --rosa: #ff76e1;
    --amarillo:#ffea76;
    --azul: #76dfff;
    --morado:#c7abe2;
    --moradoClaro:#CCBCDA;
    --naranja: #fd9051;
    --rojo:#ff4444;
    --grisOverlay: #9696969a;

}

*{
    margin: 0%;
    padding: 0%;

    font-family: 'Roboto', sans-serif;
}


html {
    scroll-behavior: smooth;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    background-color: var(--grisClaroFondo); 
    transition: all 0.7s ease;
}

.bodyDark{
    background-color: #b1b1b1;
}


a{
    text-decoration: none;
    color: var(--negro);
}
/* header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: var(--corporativo);

    position: fixed;
    z-index: 6;

}



header img{
    padding: 0px 9vw;

    height: 60%;
}


header a{
    display: flex;
    align-items: center;

    height: 90%;
}

.modoOscuro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    margin: 0px 10vw;
    padding: 5px  10px;    
    background-color: var(--grisClaro);
    border-radius: 20px;

    width: 60px;
    height: 30px;
}
.modoOscuro i{
    transition: all ease 1s;
}

.sol{
    
    font-size: 20px;
    padding: 4px;

    
    color: var(--corporativo);
}

.modoOscuro i.solAbierto{
    
    color: var(--corporativo2);
    background-color: var(--amarillo);
    border-radius: 20px;
    
}

.luna{
    color: var(--corporativo);

    font-size: 20px;
    padding: 4px 6px;
}

.lunaAbierto{
    
    color: var(--corporativo2);
    background-color: var(--gris);
    border-radius: 20px;
}


/* navegador  nav */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    width: 80vw;

    position: fixed;
    z-index: 5;

    margin: 85px 0px;
    padding-top: 10px;
    padding: 10px 10vw;

    

    list-style: none;
    text-decoration: none;
    color: black;

    transition: all 0.7s ease;

}

.navClaro{
    background-color: var(--grisClaroFondo);
}

.navDark{
    background-color: #b1b1b1;
}

nav ul li:hover{
    color: var(--corporativo);
    opacity: 0.7;

}

.ham{
    width: 4%;
    display: none;

    margin-top: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    padding-top: 20px;
}

.lupa{
    display: none;
    padding-top: 5px;
    width: 24px;
    height: 24px;
}


.linea{
    display: flex;
    justify-content: flex-end;

    
    width: 20%;
    height: 30px;
    
    border-bottom: var(--negro) solid 2px;
}

div.linea img{
    padding-top: 5px;
    width: 24px;
    height: 24px;
}

div.linea img:hover{    
    opacity: 0.8;

    padding-top: 3px;
    
    width: 26px;
    height: 26px;

}


/*_____________________________________________________________________________________________________________________________________________*/



section{
    padding: 4vw 0px;
}

/* section parte1  */

.parte1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;

    width: 90vw;
    height: 80vh;

    margin-top: 140px;
}



/* section parte1 contenido */

.texto{

    text-align: center;
    font-size: 40px;
}


/* cajita de palabras */

.palabras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    width: 43vw;
}

.cajita{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 20px;
    padding: 8px 25px 8px 25px;

    border-radius: 15px;

    font-size: 18px;
}



.cajita img{
    width: 18%;
}



.verde{
    background-color: var(--verde);    
    width: 90px;
}

.rosa{
    background-color: var(--rosa);    
    width: 100px;
}


.amarillo{
    background-color: var(--amarillo);    
    width: 120px;
}

.azul{
    background-color: var(--azul);    
    width: 110px;
}

.morado{
    background-color: var(--morado);    
    width: 120px;
}

.naranja{
    background-color: var(--naranja);    
    width: 130px;
}

.rojo{
    background-color: var(--rojo);    
    width: 100px;
}


/* contador */

.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 57vw;
}


.contadorCaja{
    display: flex;
    flex-direction: column;

    width: 7vw;

    text-align: center;
    font-size: 18px;
    color: #632599;
}

.numeros{
    font-size: 25px;
}


/* borde blanco */
.bordeBlanco{
    padding-bottom: 1vw;
    margin-bottom: 3vw;
    border-bottom: 2px solid white;
}


/* contenido */

.contenidoT{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
}


.contenidoC{

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 60vw;

}

.contenidoSx{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 60vw;
}









/* AFECTA SECTION parte2 */

.parte2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    
    padding: 4vw 0vh;

    background-color: var(--corporativo);

}


.contenidoSeccionImagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;

    color: var(--blanco);

}



.enlaces {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.enlaces li{
    color: var(--blanco);
    transition: all 0.3s ease;
}

.enlaces li:hover{
    color: var(--gris);
}

.parteImagenes{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    position: relative;
    max-width: 100vw;
}

.parteImagenes div.tarjeta{
    width:30%;
    height: 25vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    
}

.parteImagenes img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.tarjeta{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.tarjeta:hover .overlay{
    opacity: 0.6;
    bottom: 0%;
}  

.overlay{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-azul-oscuro);
    border-radius: 20px;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

.tarjeta:nth-child(odd) .overlay{
    bottom: -100%;
}

.tarjeta:nth-child(odd):hover > .overlay{
    opacity: 0.6;
    bottom: 0%;
}

.tarjeta:nth-child(even) .overlay{
    top: -100%;
}

.tarjeta:nth-child(even):hover > .overlay{
    opacity: 0.6;
    top: 0%;
}

.bordeTargeta{
    border: solid 2px var(--color-rosa) ;
}

.lear{
    padding: 10px 20px;
    background-color: var(--color-rosa);
    color: var(--color-blanco);
    border-radius: 20px;
    text-align: center;

    width: 18%;
    
    margin-left: 15px;
}

.lear:hover{
    padding: 11px 21px;
    font-size: 17px;
    width: 20%;
    margin-left: 8px;
}


.quitar{
    display: none;
}

.añadir{
    display: inline;
}










/* section tercera */

.parte3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    padding: 4vh 0vh;

    position: relative;

}

.parte3 div.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1.borde{
    padding-bottom: 1vw;
    margin-bottom: 3vw;
    border-bottom: 2px solid black;
}

/* tarjeta */

.contTarj{
    display: flex;
    flex-direction: row;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 60px ;

    color: var(--blanco);

}

.imgbx {
    width: 80.5%;
    height: 20vh;

    background-image: url(../img/noticias/castoresCabulleria.jpg);

    object-fit: cover;
    object-position: center;


    border-right: 2.5px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contentenidobx{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap:15px;

    width: 70%;
    height: 23vh;

    padding: 20px;

    background-color: #D9D9D9;

    border-right: 2.5px solid grey;
    border-bottom: 2.5px solid grey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;

    position: relative;

    color: #000;
}



.boton{
    position: absolute;
    right: 25px;
    bottom: 25px;

    cursor: pointer;
}

/*postAbiertos*/

.overlayPost1, .overlayPost2, .overlayPost3{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    width: 99.5vw;
    height: 73vh;
    background-color: var(--grisOverlay);

}

.overlayPostAbierto{
    display: flex;
}

.postAbierto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 58%;
    height: 70%;

    background-color: white;
    position: relative;
}

.imgbxAbierto{
    display: flex;
    flex-direction: row;
    gap: 20px;

    padding: 10px;
}

.imgbxAbierto img{
    width: 40%;
}

.imgbxAbierto div{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cerrar{
    position: absolute; 
    top: 20px;
    right: 20px;

    font-size: 15px;
}



/* cuarta section */

.parte4{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: black;

    border-top: #000 solid 1px;

    position: relative;
}

.parte4 h1{
    color: black;
}



.textoPP{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    gap: 30px;
}
.textoPP p{
    width: 40vw;
    font-size: 18px;

    color: white;
}

.textoPP img{
    width: 20vw;
}

.cas, .cas h1, .man, .man h1 ,.sco, .uni, .rov, .ster{
    color: var(--negro);
}



.textoSP{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 60vw;
}

.textoSP div{ 
    display: flex;
    flex-direction: column;

    width: 30%;
}




.cuadradoFondo{
    width: 59vw;
    height: 30vh;

    opacity: 0.9;

    background-color: var(--corporativo);

    position: absolute;
    left: 0px;
    top:25%;

    z-index: -1;
}



/* quinta section */

.parte5{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--corporativo);

    color: var(--blanco);

    padding: 4vw 0vh;
    font-size: 15px;
}

.contenidoQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 60vw;

}

.parte5 h1{
    color: var(--morado);
}

.movMun{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.movMun div{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.asde{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.asde div{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.parte5 img{
    width: 20vw;
    height: 25vh;
}





/* sexto section */

.parte6{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;

    
    padding: 4vw 0vh;
    color: black;
}

.parte6 h1.tituloP3{
    padding-bottom: 1vw;
    margin-bottom: 4vw;
    border-bottom: 2px solid black;
}




.parte6 .localizacion1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap:50px;

    width: 70%;

    padding-right: 60px;
}

.localizacion2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 70%;

    padding-left: 60px;
}

.parte6 div div h1{
    color: var(--corporativo);
} 


.parte6 .textoP3{
    display: flex;
    flex-direction: column;
    gap:30px;

    text-align: center;
}

.parte6 iframe{
    width: 50vw;
    height: 28vh;
}


















/* footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: var(--corporativo );


}


.contenido-secciones{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cont{
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.tex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    height: 120%;
}

.tex1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 55%;
    height: 120%;
}

.tex p{
    font-size: 13px;
}

.tex1 input{ 
    width:100%;
    border-radius: 20px;
    padding: 10px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tex1 a{
    width: 50%;
}

.primer-inp{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.primer-inp input{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer h2,footer h3 ,footer p{
    
    color: var(--blanco);
}

.bot-9{
    background-color: var(--grisClaroFondo);
    color: var(--negro);
    border-radius: 15px;
    text-align: center;

    
    margin-left: 15px;

    
    padding: 7px 10px;
    text-decoration: none;
}



.footerFinal{
    width: 100vw;
    height: 70px;
    background-color: var(--corporativo2)
}









/*}
________________________________________________________
*/
/* rrss */



.rrss{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 70px;
    top: 0px;


}

.fondoRRSS{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 2.5vw;
    height: 30vh;
    
    padding: 10px;
    background-color: var(--grisClaroFondo);

    border-radius: 30px;
}


.fondoRRSS i{
    font-size: 35px;
    color: #000;
}

.fondoRRSS i:hover{
    color: var(--corporativo);
}









/*________________________________________________________________*/



/*mediaquery*/

@media (max-width: 1300px) {
    .cuarto{
        padding-left: 20vw;
    }

    .contenidoC{
        width: 80vw;
    }

    .textoSP{
        width: 80vw;
    }

    .textoP3{
        width: 40vw;
    }

    .imagenes article{
        width: 16vw;
    }
    
    
    .imagenes article img{
        width: 16vw;
    }
    
    .ham{
        display: flex;
    }

    section.nav ul{
        display: flex;
        flex-direction: column;
        background-color: var(--corporativo);
        color: white;

        position: absolute;
        top: 70px;

        padding-left: 100px;
        width: 20%;
        height: 100vh;

        transition: all ease 01s;
    }
    .navegador{
        
        left: -1000px;
    }

   

    .navegadorHam{
        
        left: 0px;
    }


    .palabras{
        width: 80vw;
    }
    .contenidoT{
        width: 80vw;
    }
    .contenidoT h1.ter{
        width: 80vw;
    }
    .contenidoS{
        width: 80vw;
    width: calc(100%/2-20px);
    }
    .contenidoS h1{
        width: 80vw;
    }
    .noticias article div{
        height: 15vh;
    }

    .lupa{
        display: flex;
    }

    .nav .linea{
        display: none;
    }
    .contentenidobx{
        height: 16vh;
    }

    .imgbx {
        width: 81%;
        height: 14vh;
    }
    .noticias{
        gap:48px;
    }
}












@media (max-width: 900px) {

    section.nav ul{
        
        padding-left: 20px;
        padding: 20px;
    }
    .texto{
        font-size: 35px;
    }
    .cajita{

        height: 15px;
        padding: 8px 15px 8px 15px;
    }
    .numeros{
        font-size: 20px;
    }

    .contadorCaja{
        font-size: 15px;
    }

    .noticias article{
        width: 23vw;
    }
    .noticias article div{
        width: 23vw
    }

    .noticias{
        gap:10px;
    }
}















@media (max-width: 800px) {

    .textoP3{
        width: 30vw;
    }

    .sexto iframe{
        width: 30%;
        height: 25vh;
    }


    .imagenes article{
        width: 31vw;
    }
    
    
    .imagenes article img{
        width: 31vw;
    }
    
    
    .contTarj{
        flex-direction: column;
    }
}









@media (max-width: 600px) {
    section.nav ul{
        
        width: 40%;

        top: 50px;
    }
}